@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
} 

body {
  display: flex;
  flex-direction: column;
}

.header {
  height: 525px;
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-top {
  display: flex;
  justify-content: space-between;
  width: 1050px;
  padding: 25px;
  margin-bottom: 90px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
} 

ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.hero {
  display: flex;
  align-items: flex-start;
  width: 1050px;
  height: 230px;
}

.hero-title {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
}

.hero-text {
  color: #E5E7EB;
  font-size: 18px;
  width: 450px;
  margin-bottom: 10px;
}

.hero-button {
  background-color: #3882F6;
  border: 1px solid #1F2937;
  border-radius: 8px;
  color: #E5E7EB;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 25px;
}


.hero-content{
  flex: 1;
}

.hero-image {
  align-self: stretch;
  flex: 1;
  background-color: #6a717a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F9FAF8;

}

.section-one {
  text-align: center;
  height: 500px;
}

.one-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding: 50px;
}

.one-content {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.one-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #3882F6;
  height: 160px;
  width: 160px;
  border-radius: 12px; 
  margin-bottom: 10px;
}

.one-text {
  font-size: 18px;
  color: #1F2937;
}

.info {
  max-width: 170px;
}

.section-two {
  background-color: #E5E7EB;
  display: flex;
  height: 425px;
  justify-content: center;
  align-items: center;
}

.section-two-content {
  display: flex;
  flex-direction: column;
  width: 810px;
}

.author{
  font-size: 24px;
  font-weight: bold;
  align-self: flex-end;
}

.quote {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  font-weight:lighter;
}

.section-three {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  flex-shrink: 0;
}

.three-container {
  display: flex;
  background-color: #3882F6;
  border-radius: 8px;
  justify-content: space-between;
  width: 850px;
  padding: 50px 100px;
}

.three-title {
  color: #F9FAF8;
  font-weight: bold;
  font-size: 24px;
}

.three-body {
  color: #E5E7EB;
  font-size: 18px;
}

.three-button {
  border: 2px solid #F9FAF8;
  border-radius: 8px;
  background-color: #3882F6;
  color: #F9FAF8;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 30px;
  align-self: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 18pxs;
  height: 100px;
  flex-shrink: 0;
}